/*
* @author: xulantong
* @time: 2022-11-17 19:14:16
*/
@charset "UTF-8";

//头部菜单背景颜色
$base-menu-top-background: #194281;
//头部菜单文字颜色
$base-menu-top-color: #FFFFFF;
//侧边菜单宽度
$base-menu-side-width: 220px;
//侧边菜单背景颜色
$base-menu-side-background: #194281;
//侧边菜单文字颜色
$base-menu-side-color: #FFFFFF;